# Logs
logs
*.log
backend/prisma/dev.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform
infra/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Large files and binaries
*.tar.gz
*.zip
*.exe
*.dmg
*.pkg
